body {
    text-align: center;
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
}

img {
    transition: transform .2s;
}

img:hover {
    transform: scale(0.9);
}

.line {
    background-color: red;
    height: 6px;
    width: 70px;
    margin: 8px auto;

}
